<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %> <a href="/memo/table-delete">テーブル削除</a></h3>
    <div>
      <table class="design01">
	<tr>
	 <th>時刻</th>
	 <th>学籍番号</th>
	 <th>名前</th>
	 <th>削除</th>
	<tr/>
      <% for(var i in content) { %>
        <tr>
          <% var obj = content[i]; %>
          <td><%= obj.jikan %></td>
	  <td><%= obj.gakuban %></td>
	  <td><%= obj.namae %></td>
         <!-- <td><a href="/memo/edit?id=<%= obj.id %>">更新</a></td>-->
          <td><a href="/memo/delete?id=<%= obj.id %>">削除</a></td>
        </tr>
      <% } %>
	<link rel='stylesheet' href='/stylesheets/otamesi.css' />
	<meta http-equiv="refresh" content="10">
      </table>
    </div>
  </body>
</html>
